In [3]:
import sqlite3 as sql

In [5]:
connect = sql.connect('test.db')
print ('database connected sucessfully')

database connected sucessfully

In [14]:
connect.execute("INSERT INTO MOVIERECOMMENDATION (ID, NAME, MOVIENAME, GENRE, RATING, DATERELEASED) \
                VALUES(5, 'Toliat', 'Anikulapo', 'Drama', 3, '02/09/2022')");
connect.execute("INSERT INTO MOVIERECOMMENDATION (ID, NAME, MOVIENAME, GENRE, RATING, DATERELEASED) \
                VALUES(6, 'Moyato', 'Gone girl', 'Thriller', 4, '02/09/2021')");
connect.execute("INSERT INTO MOVIERECOMMENDATION (ID, NAME, MOVIENAME, GENRE, RATING, DATERELEASED) \
                VALUES(7, 'Elijah', 'Thor', 'Action', 4, '02/06/2022')");
connect.execute("INSERT INTO MOVIERECOMMENDATION (ID, NAME, MOVIENAME, GENRE, RATING, DATERELEASED) \
                VALUES(8, 'Paul', 'The lost city', 'Comedy', 4, '02/09/2020')");
connect.commit()
print('values inserted into the movie recommendation table')     
#connect.close()

values inserted into the movie recommendation table

In [15]:
GETALLVALUES = connect.execute("SELECT ID, NAME, MOVIENAME, GENRE, RATING, DATERELEASED FROM MOVIERECOMMENDATION")

In [16]:
GETALLVALUES.fetchall()

[(1, 'Toliat', 'Anikulapo', 'Drama', '3', '02/09/2022'),
 (5, 'Toliat', 'Anikulapo', 'Drama', '3', '02/09/2022'),
 (6, 'Moyato', 'Gone girl', 'Thriller', '4', '02/09/2021'),
 (7, 'Elijah', 'Thor', 'Action', '4', '02/06/2022'),
 (8, 'Paul', 'The lost city', 'Comedy', '4', '02/09/2020')]

In [17]:
#for val in GETALLvalues.fetchall():
# print(val)

In [18]:
GETRATINGSGREATERTHANTHREE = connect.execute("SELECT ID, NAME, MOVIENAME, GENRE, RATING, DATERELEASED FROM MOVIERECOMMENDATION WHERE RATING > 3")

In [21]:
GETRATINGSGREATERTHANTHREE.fetchall()

[(6, 'Moyato', 'Gone girl', 'Thriller', '4', '02/09/2021'),
 (7, 'Elijah', 'Thor', 'Action', '4', '02/06/2022'),
 (8, 'Paul', 'The lost city', 'Comedy', '4', '02/09/2020')]

In [29]:
GETPAUL = connect.execute("SELECT * FROM MOVIERECOMMENDATION WHERE NAME ='Paul'")

In [30]:
GETPAUL.fetchall()

[(8, 'Paul', 'The lost city', 'Comedy', '4', '02/09/2020')]

In [31]:
UPDATEANIKULAPORATING = connect.execute("UPDATE MOVIERECOMMENDATION SET RATING = 2 WHERE ID = 1")

In [32]:
UPDATEANIKULAPORATING.fetchall()

[]

In [33]:
GETALLVALUES = connect.execute("SELECT * FROM MOVIERECOMMENDATION")

In [34]:
GETALLVALUES.fetchall()

[(1, 'Toliat', 'Anikulapo', 'Drama', '2', '02/09/2022'),
 (5, 'Toliat', 'Anikulapo', 'Drama', '3', '02/09/2022'),
 (6, 'Moyato', 'Gone girl', 'Thriller', '4', '02/09/2021'),
 (7, 'Elijah', 'Thor', 'Action', '4', '02/06/2022'),
 (8, 'Paul', 'The lost city', 'Comedy', '4', '02/09/2020')]

In [35]:
DELETEANONYMOUS = connect.execute("DELETE FROM MOVIERECOMMENDATION WHERE ID = 1 ").fetchall()
print("Row with id=1 has been deleted")

Row with id=1 has been deleted

In [36]:
connect.execute("SELECT * FROM MOVIERECOMMENDATION").fetchall()

[(5, 'Toliat', 'Anikulapo', 'Drama', '3', '02/09/2022'),
 (6, 'Moyato', 'Gone girl', 'Thriller', '4', '02/09/2021'),
 (7, 'Elijah', 'Thor', 'Action', '4', '02/06/2022'),
 (8, 'Paul', 'The lost city', 'Comedy', '4', '02/09/2020')]